@model IEnumerable<PlayerSelector.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfGames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gameRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pointRatio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfGames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goalRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pointRatio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
