@model IEnumerable<PlayerSelector.Models.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numberOfGames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mostMatchesPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mostGoalsPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numberOfGames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mostMatchesPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mostGoalsPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
