@model PlayerSelector.Models.Season

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Season</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.numberOfGames, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numberOfGames)
                @Html.ValidationMessageFor(model => model.numberOfGames)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mostMatchesPlayer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mostMatchesPlayer)
                @Html.ValidationMessageFor(model => model.mostMatchesPlayer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mostGoalsPlayer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mostGoalsPlayer)
                @Html.ValidationMessageFor(model => model.mostGoalsPlayer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startDay)
                @Html.ValidationMessageFor(model => model.startDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.endDay)
                @Html.ValidationMessageFor(model => model.endDay)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
